specVersion: 0.0.5
description: Moonwell is an open lending and borrowing DeFi protocol on Moonbeam and Moonriver
repository: https://github.com/moonwell-fi/governance-subgraph
schema:
  file: ./schema.graphql
dataSources:
  - kind: ethereum/contract
    name: Governor
    network: {{ network }}
    source:
      address: '{{ governorAddr }}'
      abi: Governor
      startBlock: {{ governorStartBlock }}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      file: ./src/governor.ts
      entities: []
      abis:
        - name: Governor
          file: ./abis/governor.json
      eventHandlers:
        - event: ProposalCanceled(uint256)
          handler: handleProposalCanceled
        - event: ProposalCreated(uint256,address,address[],uint256[],string[],bytes[],uint256,uint256,string)
          handler: handleProposalCreated
        - event: ProposalCreated(uint256,address,address[],uint256[],string[],bytes[],uint256,uint256,string,uint256)
          handler: handleProposalCreated
        - event: ProposalExecuted(uint256)
          handler: handleProposalExecuted
        - event: ProposalQueued(uint256,uint256)
          handler: handleProposalQueued
        - event: VoteCast(address,uint256,uint8,uint256)
          handler: handleVoteCast
        - event: BreakGlassGuardianChanged(address,address)
          handler: handleBreakGlassGuardianChanged
        - event: ProposalThresholdChanged(uint256,uint256)
          handler: handleProposalThresholdChanged
        - event: QuroumVotesChanged(uint256,uint256)
          handler: handleQuorumVotesChanged
        - event: VotingDelayChanged(uint256,uint256)
          handler: handleVotingDelayedChanged
        - event: VotingPeriodChanged(uint256,uint256)
          handler: handleVotingPeriodChanged
  - kind: ethereum/contract
    name: Wormhole
    network: {{ network }}
    source:
      address: '{{ wormholeAddr }}'
      abi: Wormhole
      startBlock: {{ wormholeStartBlock }}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      file: ./src/governor.ts
      entities: []
      abis:
        - name: Wormhole
          file: ./abis/wormhole.json
      eventHandlers:
        - event: LogMessagePublished(indexed address,uint64,uint32,bytes,uint8)
          handler: handleLogMessagePublished
  - kind: ethereum/contract
    name: Lockbox
    network: {{ network }}
    source:
      address: '{{ lockboxAddr }}'
      abi: Lockbox
      startBlock: {{ lockboxStartBlock }}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      file: ./src/xwell.ts
      entities: []
      abis:
        - name: Lockbox
          file: ./abis/lockbox.json
      eventHandlers:
        - event: Withdraw(address,uint256)
          handler: handleWithdraw
        - event: Deposit(address,uint256)
          handler: handleDeposit
  - kind: ethereum/contract
    name: WELL
    network: {{ network }}
    source:
      address: '{{ WELLAddr }}'
      abi: WELL
      startBlock: {{ WELLStartBlock }}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      file: ./src/well.ts
      entities: []
      abis:
        - name: WELL
          file: ./abis/well.json
        - name: xWELL
          file: ./abis/xwell.json
        - name: WormholeWELL
          file: ./abis/well.wormhole.json
      eventHandlers:
        - event: Transfer(indexed address,indexed address,uint256)
          handler: handleTransfer
        - event: DelegateChanged(indexed address,indexed address,indexed address)
          handler: handleDelegateChanged
        - event: DelegateVotesChanged(indexed address,uint256,uint256)
          handler: handleDelegateVotesChanged
  - kind: ethereum/contract
    name: xWELL
    network: {{ network }}
    source:
      address: '{{ xWELLAddr }}'
      abi: xWELL
      startBlock: {{ xWELLStartBlock }}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      file: ./src/xwell.ts
      entities: []
      abis:
        - name: WELL
          file: ./abis/well.json
        - name: xWELL
          file: ./abis/xwell.json
        - name: WormholeWELL
          file: ./abis/well.wormhole.json
      eventHandlers:
        - event: Transfer(indexed address,indexed address,uint256)
          handler: handleTransfer
        - event: DelegateChanged(indexed address,indexed address,indexed address)
          handler: handleDelegateChanged
        - event: DelegateVotesChanged(indexed address,uint256,uint256)
          handler: handleDelegateVotesChanged
  - kind: ethereum/contract
    name: WormholeWELL
    network: {{ network }}
    source:
      address: '{{ WWELLAddr }}'
      abi: WormholeWELL
      startBlock: {{ WWELLStartBlock }}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      file: ./src/wwell.ts
      entities: []
      abis:
        - name: WormholeWELL
          file: ./abis/well.wormhole.json
      eventHandlers:
        - event: Transfer(indexed address,indexed address,uint256)
          handler: handleTransfer
